# Core scientific and data packages
numpy==2.1.3
scipy==1.15.3
pandas==2.2.3
matplotlib==3.10.0
scikit-learn==1.6.1
spglib==2.6.0
uncertainties==3.2.3
monty==2025.3.3

# Materials science
pymatgen==2025.3.3
mp-api
py3Dmol

# Web and app
streamlit==1.45.1
python-dotenv==1.1.0
openai==1.93.3

# Visualization
plotly==5.24.1
altair==5.5.0

# Utility and others
requests==2.32.4
jupyterlab==4.3.4
notebook==7.3.2
ipykernel==6.29.5
ipython==8.30.0

# Others
aiofiles==24.1.0
aioice==0.10.1
aiortc==1.13.0
aiosqlite==0.21.0
anthropic==0.57.1
audioop-lts==0.2.1
autogen-agentchat==0.6.4
autogen-core==0.6.4
av==14.4.0
azure-ai-agents==1.1.0b3
azure-ai-projects==1.0.0b12
azure-core==1.35.0
azure-identity==1.23.0
azure-storage-blob==12.25.1
bibtexparser==1.4.3
brotli==1.1.0
chardet==5.2.0
cloudevents==1.12.0
dataclasses-json==0.6.7
deprecation==2.1.0
dnspython==2.7.0
ecdsa==0.19.1
fastapi==0.116.0
ffmpy==0.6.0
google-crc32c==1.7.1
gradio==5.36.2
gradio-client==1.10.4
groovy==0.1.2
hf-xet==1.1.5
html5lib==1.1
httpx-sse==0.4.1
huggingface-hub==0.33.2
ifaddr==0.2.0
isodate==0.7.2
jiter==0.10.0
jsonref==1.1.0
jsonschema-path==0.3.4
langchain==0.3.26
langchain-anthropic==0.3.17
langchain-community==0.3.27
langchain-core==0.3.68
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
langgraph==0.5.2
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
langsmith==0.4.4
lazy-object-proxy==1.11.0
markdownify==1.1.0
marshmallow==3.26.1
mcp==1.10.1
msal==1.32.3
msal-extensions==1.3.1
ollama==0.5.1
openapi-core==0.19.5
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
opentelemetry-api==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
orjson==3.10.18
ormsgpack==1.10.0
palettable==3.3.3
parse==1.20.2
pathable==0.4.4
playwright==1.53.0
prance==25.4.8.0
pybars4==0.9.13
pydantic==2.11.7
pydantic-core==2.33.2
pydub==0.25.1
pyee==13.0.0
pylibsrtp==0.12.0
pymeta3==0.5.1
pypdf==5.7.0
pypdf2==3.0.1
python-http-client==3.3.7
python-multipart==0.0.20
readabilipy==0.3.0
ruff==0.12.2
safehttpx==0.1.6
semantic-kernel==1.34.0
semantic-version==2.10.0
sendgrid==6.12.4
speedtest-cli==2.1.3
sqlalchemy-utils==0.41.2
sqlite-vec==0.1.6
sse-starlette==2.4.1
starlette==0.46.2
tiktoken==0.9.0
typer==0.16.0
typing-extensions==4.14.1
typing-inspect==0.9.0
typing-inspection==0.4.1
uvicorn==0.35.0
websockets==15.0.1
werkzeug==3.1.1
wikipedia==1.4.0
xxhash==3.5.0
