# Core scientific and data packages
numpy
scipy
pandas
matplotlib
scikit-learn
spglib
uncertainties
monty

# Materials science and featurization
custodian
matminer
phonopy
pymatgen>=2024.5,<2024.9
mp-api==0.45.9
py3Dmol

# Web and app
streamlit==1.45.1
python-dotenv
openai
pinecone

# Utility
requests

